/* # variables #  */

:root {
  --white: #ffffff; /* var(--white)   ehite color*/
  --logo-blue-color: #39427b; /* var(--logo-blue-color) logo blue color */
  --light-grey-white-color: #9e9b9b; /* light grey white color */
  --dark-blue-hover: #182470; /* hower dark blue effect */
}

.categories {
  margin: 70px 0;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-3 {
  align-items: center;
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  background-color: #9e9b9b5b;
  height: 470px;
  border-radius: 3px;
}

.col-3 img {
  width: 100%;
  padding: 0 .5em;
  padding-top: 0.3em;
  border-radius: 3px;
}

.col-3 h2 {
  padding: .5em;
  font-size: 1.3em;
}

.col-3 p {
  padding: .5em;
  text-align: justify;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4{
  flex-basis: 25% !important;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 40px;
  transition: transform 0.5s;
}

.col-4 img{
  width: 100%;
}

.col-4:hover{
  transform: translateY(-5px);
}

.btn-more{
  margin:0 auto 2em;
  width:100%;
  text-align:center;
  padding: 0 auto 2em;
}

.btn-more h3{
  color:var(--white);
  background-color: var(--logo-blue-color);
  border: 3px solid white;
}

.btn-more h3:hover{
  border: 3px solid var(--logo-blue-color);
  color:black;
  background: transparent;
  cursor: pointer;
}